version: 2
jobs:
  build:
    branches:
      only:
        - master
    docker:
      # specify the version you desire here
      - image: circleci/php:7.1.5-browsers
      
      # Specify service dependencies here if necessary
      # CircleCI maintains a library of pre-built images
      # documented at https://circleci.com/docs/2.0/circleci-images/
      # - image: circleci/mysql:9.4

    working_directory: ~/repo

    steps:
      - checkout

      - run:
         name: Install PHP libzip-dev
         command: sudo apt-get install -y libzip-dev

      - run:
         name: Install PHP zip
         command: sudo docker-php-ext-install zip

      - run:
         name: Composer Install
         command: composer install

      - run:
          name: Build
          command: php ./.circleci/build.php